<table cellpadding="0" cellspacing="0" class="style140" style="width: 968px">
	<tr>
		<td class="style231"><strong>{{ title }}</strong></td>
	</tr>
</table>
<p>

<p class="style179" style="width: 963px"><font size="2" color="#FF0000"><b>*</b>
Required Fields</font></p>

<table cellpadding="5" class="style112" style="width: 960px">
	<tr>
		<td class="style136" valign="top">
		<table cellpadding="3" cellspacing="0" class="style43" style="width: 100%">
			<tr>
				<td class="newStyle3">1. General Information</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<table cellpadding="3" class="style39" style="height: 100%;">
			<tr class="td_fieldTitle">
				<td style="height: 17px"><span class="txtHeadingNumber">1.1</span>
				<strong>Project Title</strong><b>
				<font size="2" color="#FF0000">*</font></b></td>
			</tr>
			<tr>
				<td class="td_fieldContent" style="height: 4px;"><input class="frm" name="T438" size="14" style="width: 930px; height:17" type="text" value="{{project.title}}" ng-model="project.title">
				</td>
			</tr>
			<tr>
				<td class="td_fieldTitle" style="height: 4px;">
				<span class="txtHeadingNumber">1.2</span>
				<strong>Project Status</strong><b>
				<font size="2" color="#FF0000">*</font></b></td>
			</tr>
			<tr>
				<td class="td_fieldContent" style="height: 4px;">
				<select class="frm" name="Select82" style="width: 217; height: 18;" ng-model="project.status" ng-options="x for x in statuses"/>
				</td>
			</tr>
			<tr>
				<td class="td_fieldTitle" style="height: 4px;">
				<span class="txtHeadingNumber">1.3</span> Project Contacts
				<span class="style189">(Please specify all contacts for this project
				from all the participating organizations) </span></td>
			</tr>
			<tr>
				<td>
				<table id="table469" border="0" cellpadding="3" cellspacing="0" class="style155" style="width:800px">
					<tr class="style246">
						<th width="2%">&nbsp;</th>
						<th align="center" class="auto-style6" width="48%">
						Contact <b>
				<font size="2" color="#FF0000">*</font></b></th>
						<th align="center" class="auto-style6" width="25%">
						E-mail <b>
				<font size="2" color="#FF0000">*</font></b></th>
						<th align="center" class="auto-style6" width="25%">Phone</th>
					</tr>
					<tr ng-repeat="x in contacts">
						<td style="height: 19px;" valign="top" width="2%">
						<img alt="" height="14" src="images/close_inline.png" width="12" ng-click="removeContact(x.id)"/></td>
						<td class="style12" style="height: 19px;" valign="top">
						<input class="frm" name="T439" size="150" value="{{ x.contact }}" ng-model="x.contact" style="width: 354px; height:18" type="text"></td>
						<td class="style12" style="height: 19px;" valign="top">
						<input class="frm" name="T440" size="150" value="{{ x.email }}" ng-model="x.email" style="width: 200px; height:18" type="text"></td>
						<td class="style12" valign="top" style="height: 19px">
						<input class="frm" name="T441" size="150" value="{{ x.phone }}" ng-model="x.phone" style="width: 200px; height:18" type="text"></td>
					</tr>
				</td>

			</tr>
		</table>
        <img alt="" class="style109" src="images/img11.png" ng-click="add()"/>
		</td>
	</tr>

	</table>
<br />
<table style="width: 960px" cellpadding="0" cellspacing="0">
	<tr>
		<td class="style179">&nbsp;<strong><input class="buttonAct" type="button" value="Save and Close" style="width: 135px" ng-click="save()"></strong>
		<input class="buttonAct" type="button" value="Cancel" style="width: 111px" ng-click="cancel()"> </td>
	</tr>
</table>
